.add-technician-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    background-color: #fff;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .add-technician-container label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .add-technician-container input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .create-button {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    align-self: center;
    margin-top: 20px;
  }

  .create-button:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
