.create-appointment-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    background-color: #fff;
  }

  .create-appointment-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .create-appointment-container form {
    display: flex;
    flex-direction: column;
  }

  .create-appointment-container label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .create-appointment-container input {
    margin: 0 auto 15px;
    display: block;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .create-appointment-container button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    align-self: center;
  }

  .create-appointment-container button:hover {
    background-color: #0056b3;
  }
