.service-appointments {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li.appointment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 10px;
    width: 80%;
  }

  .appointment-details {
    display: flex;
    gap: 10px;
  }

  .vip {
    color: #dc3545;
    font-weight: bold;
  }

  .appointment-actions {
    display: flex;
    gap: 10px;
  }
